EXPO_PUBLIC_SUPABASE_URL="YOUR SUPABASE PROJECT URL"
EXPO_PUBLIC_SUPABASE_API_KEY="YOUR API KEY"
EXPO_PUBLIC_API_URL="YOUR BACKEND URL"
EXPO_PUBLIC_CASHFREE_ENV="SANDBOX"
EXPO_PUBLIC_CASHFREE_CREATE_ORDER_PATH="/payments/cashfree/create-order"
EXPO_PUBLIC_CASHFREE_VERIFY_ORDER_PATH="/payments/cashfree/verify-order"
